NEXT_PUBLIC_SUPABASE_URL="https://wjhjtdypuscixdkwtcvo.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqaGp0ZHlwdXNjaXhka3d0Y3ZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNjY4NjcsImV4cCI6MjA5Njk0Mjg2N30.4TASQXKFu0ehMLwFXwOrpS9y0xG9X-EC3sywGGHgXMg"
NEXT_PUBLIC_API_URL="http://localhost:5000/api"