PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:Abhishek20245005@db.wjhjtdypuscixdkwtcvo.supabase.co:5432/postgres"
SUPABASE_URL="https://wjhjtdypuscixdkwtcvo.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqaGp0ZHlwdXNjaXhka3d0Y3ZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNjY4NjcsImV4cCI6MjA5Njk0Mjg2N30.4TASQXKFu0ehMLwFXwOrpS9y0xG9X-EC3sywGGHgXMg"

SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqaGp0ZHlwdXNjaXhka3d0Y3ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTM2Njg2NywiZXhwIjoyMDk2OTQyODY3fQ.cXEVwxAGALu5QG-UgWfD0dfItLgl5K3NcVWmMQDffCQ"

GMAIL_USER="medditpage@gmail.com"
GMAIL_APP_PASSWORD="Abhishek@#20245005"

APP_NAME="MediGo"

FRONTEND_URL="http://localhost:3000,https://medigo.vercel.app"